---
import Camera from "../components/icons/Camera.astro";
import Edit from "../components/icons/Edit.astro";
import Marketing from "../components/icons/Marketing.astro";
import Medal from "../components/icons/Medal.astro";
import Microphone from "../components/icons/Microphone.astro";
import Video from "../components/icons/Video.astro";
import MetricasCard from "../components/MetricasCard.astro";
import ServicesCard from "../components/ServicesCard.astro";
import Heading from "../components/shared/Heading.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<!--Hero Section -->
	<section
		class="relative h-[calc(100vh-4rem)] overflow-hidden font-montserrat"
	>
		<!-- Imagen de fondo -->
		<img
			src="/images/hero-studio.webp"
			alt="Ureka media plus estudio de grabación"
			class="w-full h-full object-cover"
		/>

		<!-- Overlay con degradado -->
		<div
			class="absolute inset-0 bg-gradient-to-r from-white/95 lg:via-white/70 to-white/50 lg:to-transparent"
		>
		</div>

		<!-- Contenido -->
		<div
			class="absolute inset-0 flex flex-col justify-center px-8 md:px-16 lg:px-24 max-w-5xl"
		>
			<h1
				class="ml-1 bg-gray-300 w-fit px-5 py-2 rounded-2xl mb-5 border border-gray-800 flex gap-x-2 items-center"
			>
				<Medal classname="size-7 text-red-600" />
				<span class="font-medium text-sm sm:text-xl font-montserrat"
					>Ureka Media Plus</span
				>
			</h1>
			<h2
				class="text-4xl sm:text-5xl md:text-7xl font-extrabold tracking-tight max-w-3xl"
			>
				Damos <span class="text-red-600">Vida</span> a lo que <span
					class="text-red-600"
				>
					Imaginas.</span
				>
			</h2>
			<p
				class="mt-4 text-xl md:text-2xl text-gray-600 max-w-2xl font-normal font-inter"
			>
				Creación profesional de contenido audiovisual que cautiva,
				conecta y convierte. Desde el concepto hasta la entrega final,
				creamos experiencias visuales impactantes.
			</p>

			<!-- Métricas -->
			<div class="mt-6 flex gap-8">
				<MetricasCard title="50+" subtitle="Proyectos acabados" />
				<MetricasCard title="20+" subtitle="Clientes satisfechos" />
				<MetricasCard subtitle="Reseñas de clientes">
					<p
						class="text-3xl font-bold text-center flex items-center gap-x-1"
					>
						<span class="text-red-500 text-lg md:text-2xl">★</span>
						<span class="text-2xl md:text-3xl font-bold text-center"
							>4.9</span
						>
					</p>
				</MetricasCard>
			</div>

			<!-- Botones -->
			<div class="mt-8 flex flex-wrap gap-4">
				<a
					href="#"
					class="w-full md:w-fit text-center bg-red-600 text-white px-6 py-3 rounded-lg font-semibold hover:scale-105 transition-transform"
				>
					Trabajemos juntos
				</a>
			</div>
		</div>
	</section>
	<!--Servicios Section -->
	<section
		class="relative max-w-7xl my-16 mx-auto px-5 lg:px-0 overflow-hidden"
	>
		<Heading
			heading="Nuestros servicios"
			title="Creatividad que"
			subtitle="Ofrecemos soluciones audiovisuales integrales para ayudar a tu marca a contar su historia a través de imágenes impactantes y contenido atractivo."
			marker="impulsa."
		/>

		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 relative"
		>
			<ServicesCard
				title="Video Production"
				subtitle="From corporate videos to commercials, we create compelling visual stories that engage your audience."
			>
				<Video
					classname="bg-gradient-to-b from-blue-500 to-blue-800 text-white rounded-2xl p-3 size-20 group-hover:rotate-6 transition duration-500"
				/>
			</ServicesCard>
			<ServicesCard
				title="Photography"
				subtitle="Professional photography services for events, products, portraits, and commercial shoots."
			>
				<Camera
					classname="bg-gradient-to-b from-red-500 to-red-800 text-white rounded-2xl p-3 size-20 group-hover:rotate-6 transition duration-500"
				/>
			</ServicesCard>
			<ServicesCard
				title="Post-Production"
				subtitle="Expert editing, color grading, motion graphics, and sound design to perfect your content."
			>
				<Edit
					classname="bg-gradient-to-b from-purple-500 to-purple-800 text-white rounded-2xl p-3 size-20 group-hover:rotate-6 transition duration-500"
				/>
			</ServicesCard>
			<ServicesCard
				title="Marketing empresarial"
				subtitle="Optimización de videos para SEO, gestión de campañas publicitarias y análisis de resultados."
			>
				<Marketing
					classname="bg-gradient-to-b from-green-500 to-green-800 text-white rounded-2xl p-3 size-20 group-hover:rotate-6 transition duration-500"
				/>
			</ServicesCard>
			<ServicesCard
				title="Locución y Voice-over"
				subtitle="Grabación profesional de narraciones para videos corporativos, comerciales o animaciones."
			>
				<Microphone
					classname="bg-gradient-to-b from-orange-500 to-orange-800 text-white rounded-2xl p-3 size-20 group-hover:rotate-6 transition duration-500"
				/>
			</ServicesCard>
		</div>

		<a
			href="#"
			class="mt-16 mb-10 flex gap-x-4 bg-white shadow-xl w-fit mx-auto px-5 py-5 rounded-xl hover:-translate-y-2 transition-transform duration-300 items-center"
		>
			<div class="flex">
				<Video
					classname="bg-gradient-to-b from-blue-500 to-blue-800 text-white rounded-2xl p-3 size-10"
				/>
				<Microphone
					classname="-ml-2 bg-gradient-to-b from-orange-500 to-orange-800 text-white rounded-2xl p-3 size-10"
				/>
				<Marketing
					classname="-ml-2 bg-gradient-to-b from-green-500 to-green-800 text-white rounded-2xl p-3 size-10"
				/>
			</div>
			<div>
				<h5 class="font-bold font-montserrat text-xs sm:text-sm">
					¿Listo para crear algo increíble?
				</h5>
				<p
					class="text-xs text-left md:text-center text-gray-600 font-montserrat"
				>
					Hablemos de tu próximo proyecto
				</p>
			</div>
		</a>
	</section>
</MainLayout>
